body {
    margin: 0 auto;
    width: 80%;
    background: rgb(186, 73, 73);
    text-align: center;
}

.task-creator {
    margin: 10px auto;
    width: 80%;
    height: 10%;
    background-color: rgb(200, 90, 90);
    align-items: center;
    padding: 10px 0;
}

.task-list {
    margin: 10px auto;
    width: 80%;
    height: 10%;
    background-color: rgb(200, 90, 90);
    align-items: center;
}

.task-text{
    width: 80%;
    margin: auto;
    line-height: 3em;
}

.task-btn {
    width: auto;
    margin: auto;
    line-height: 3em;
    border-radius: 5px;
    background-color: white;
}


.task {
    font-size: 20px;
    border: 2px solid white;
    background-color: rgb(200, 90, 90);
    height: 3em;
    text-align: center;
    padding-top: 1em;
}

.task:hover {
    background-color: red;
    width: 100.5%;
    margin-left: -0.25%;
}

